//
//  Settings.scss
//

// Custom colors
// -------------------------
$c1:    #195679 !default;   // Blue Primary
$c2:    #E3E3E3 !default;   // background color
$c3:    #91D4D0 !default;   // Blue Light


// Accent colors
// -------------------------
$black:         #000 !default;
$grayDarker:    #111 !default;
$grayDark:      #333 !default;
$gray:          #555 !default;
$grayLight:     #999 !default;
$grayLighter:   #eee !default;
$white:         #fff !default;

// Custom gradients
// -------------------------
$g1:    radial-gradient(circle at top right, $c3, $c1) !default;   // Blue Primary
$g2:    radial-gradient(circle at top right, $grayLighter, $white) !default;   // Blue Primary

// Scaffolding
// -------------------------
$bodyBackground : $g1 !default;
$textColor : $gray !default;

// Links
// -------------------------
$linkColor : $c2 !default;
$linkColorHover : darken($linkColor, 15%) !default;

// Typography
// -------------------------
$baseFontFamily:    "Rubik",Helvetica, Arial, sans-serif;
$baseFontSize:      15px !default;
$baseLineHeight:    1.6em !default;

// Component sizing
// -------------------------
$fontSizeParagraph : $baseFontSize;

// Headings
$headingsFontFamily:    "Exo 2",$baseFontFamily;
$headingsFontWeight:    bold;
$headingsColor:         $c1;

$fontSizeh1:            3rem;
$fontSizeh2:            2rem;
$fontSizeh3:            1.5rem;
$fontSizeh4:            1rem;

// Breakpoints
// -------------------------
$mobile:    480px;
$tablet:    760px;
$desktop:   990px;
$wide:      1280px