//
// Icons.scss
// --------------------------------------------------
[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	vertical-align: top;
	background-size: cover;
	width: 100%;
	height: 100%;

	span,
	svg,
	path {
		width: 100%;
		height: 100%;
	}
	
}