//
// Layout.scss
// --------------------------------------------------

// Global styles
// --------------------------------------------------
.container {
    position: relative;
	max-width: 990px;
	margin: 0 15px;
	
	@include respond-min($mobile) {
		margin: 0 30px;
	}

	@include respond-min(990px + 60px) {
		margin: 0 auto;
	}
}

// Main
// --------------------------------------------------
.main {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.main-container {

}

.content-container {

}

// Section
// -------------------------
.section {

}

// Article
// -------------------------
.article {

	h1 {
		display: block;

	}

	h2 {

	}

	h3 {

	}

	p {

	}

	a {
		
		&:hover,
		&:focus {

		}
	}

	> ul {
		@include font-size(13);
		list-style: disc;
		margin: 0 0 15px 3em;
	}

	> ol {
		@include font-size(13);
		margin: 0 0 3em;
	}
}

// Aside
// -------------------------
.aside {
	
}


.panel {
	text-align: center;

	p, span, a {
		color: $white;
	}

	&__heading {
		position: relative;
		margin: 0 0 2em;
	}

	&__contact {
		position: relative;

		.contact-items {
			width: 100%;

			ul {
				display: flex;
				justify-content: center;
				align-items: center;

				li {
					display: block;

					&:not(:last-child) {
						margin: 0 1em 0 0;
					}
					a {
						display: block;
					}
				}
			}
		}
		
	}
	span {
		color: $white;
	}
}

.social {
	width: 100%;
	position: absolute;
	left: 50%;
	bottom: 30px;
	transform: translateY(-50%);
}