//
// Layout.scss
// --------------------------------------------------

// Global styles
// --------------------------------------------------
.container {
    position: relative;
	max-width: 990px;
	margin: 0 15px;
	
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	
	@include respond-min($mobile) {
		margin: 0 30px;
	}

	@include respond-min(990px + 60px) {
		margin: 0 auto;
	}
}

// Main
// --------------------------------------------------
.main {
    display: block;
}

.main-container {

}

.content-container {

}

// Section
// -------------------------
.section {

}

// Article
// -------------------------
.article {

	h1 {
		display: block;

	}

	h2 {

	}

	h3 {

	}

	p {

	}

	a {
		
		&:hover,
		&:focus {

		}
	}

	> ul {
		@include font-size(13);
		list-style: disc;
		margin: 0 0 15px 3em;
	}

	> ol {
		@include font-size(13);
		margin: 0 0 3em;
	}
}

// Aside
// -------------------------
.aside {
	
}

.panel {
	text-align: center;

	span {
		color: $white;
	}
}