//
// Layout.scss
// --------------------------------------------------

// Global styles
// --------------------------------------------------
.container {
    position: relative;
	max-width: 1440px;
	margin: 0 15px;
	
	@include respond-min($mobile) {
		margin: 0 30px;
	}

	@include respond-min(1440px + 60px) {
		margin: 0 auto;
	}
}

// Main
// --------------------------------------------------
.main {
	position: relative;
}

.main-container {
	position: relative;
}

.content-container {
	position: relative;
}

// Section
// -------------------------
.section {
	position: relative;

	&--main {
		& > .section {
			.content-container {
				padding: 2rem;
			}
			@include respond-min($tablet) {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				min-height: 100vh;

				&--light {
					justify-content: center;
					width: 60%;
					z-index: 1;

					.content-container {
						max-width: 420px;
						margin-right: 12rem;
					}
				}
	
				&--dark {
					position: fixed;
					left: 0;
					top: 0;
					width: 100vw;
					justify-content: flex-end;

					.content-container {
						text-align: right;
					}
				}
			}	
		}
	}

	&--border {
		padding: 1rem;

		@include respond-min($tablet) {
			padding: 2rem;
		}

		&:before {
			position: absolute;
			left: 1rem;
			right: 1rem;
			top: 1rem;
			bottom: 1rem;
			box-sizing: border-box;
			border: 1px solid;
			content: '';
			@include respond-min($tablet) {
				left: 2rem;
				right: 2rem;
				top: 2rem;
				bottom: 2rem;
			}
		}
	}

	&--light {
		background: $g2;

		&:before {
			border-color: rgba($black, .1);
		}
	}

	&--dark {
		background: $g3;
		&:before {
			border-color: rgba($white, .1);
		}
	}

}

// Article
// -------------------------
.article {

	h1 {
		display: block;

	}

	h2 {

	}

	h3 {

	}

	p {

	}

	a {
		
		&:hover,
		&:focus {

		}
	}

	> ul {
		@include font-size(13);
		list-style: disc;
		margin: 0 0 15px 3rem;
	}

	> ol {
		@include font-size(13);
		margin: 0 0 3rem;
	}
}

// Aside
// -------------------------
.aside {
	
}


.panel {
	margin: 0 auto;
	width: 330px;

	@include respond-min($tablet) {
		position: absolute;
		right: -150px;
		top: calc(50vh - 150px);
		z-index: 100;
	}

	&:after, &:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		border-radius: 4px;
	}

	&:before  {
		top: 1rem;
		left: 1rem;
		height: calc(100% - 2rem);
		width: calc(100% - 2rem);
		background-color: rgba($black, .1);
		box-shadow: 0 1.5rem 3rem -1rem rgba($black, 0.15), 0 3rem 6rem 0 rgba($black, 0.1);
		z-index: -1;
		transform: translateZ(-2rem);
	}

	&:after {
		background-color: $white;
		z-index: -1;
	}

	&__main {
		padding: 2rem;
		h1, span {
			display: block;
			transform: translateZ(1rem);
			transition: .5s ease;	
		}
	}

	&__social {
		position: relative;
		transform: translateX(0px);
		border-top: 1px solid $grayLight;		

		ul {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin: 0;

			li {
				border-left: 1px solid $grayLight;

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 4rem;
					height: 4rem;
					background-color: $white;
					transition: .2s ease;
				}

				&:hover,
				&:focus {
					background-color: $grayLight;
					a {
						z-index: 10;
						transform: translateZ(1rem);
						box-shadow: 0 1px 3px 0 rgba($black, .1);
					}
				}
			}
		}
	}
}